<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	<Script file="menu.lua" />

	<Frame name="BuffologyMenuSkel" virtual="true" toplevel="true" frameStrata="DIALOG" movable="true" enableMouse="true" parent="UIParent">
		<Size>
			<AbsDimension x="600" y="225" />
		</Size>
		<Anchors>
			<Anchor point="CENTER">
				<Offset><AbsDimension x="0" y="0"/></Offset>
			</Anchor>
		</Anchors>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture>
					<Anchors>
						<Anchor point="TOPLEFT">
							<Offset>
								<AbsDimension x="0" y="0"/>
							</Offset>
						</Anchor>
						<Anchor point="BOTTOMRIGHT">
							<Offset>
								<AbsDimension x="0" y="0"/>
							</Offset>
						</Anchor>
					</Anchors>
					 <Color r="0" g="0" b="0" a="0.7"/>
				</Texture>
			</Layer>
		</Layers>
		<Frames>
			<Button name="$parentButtonClose" inherits="OptionsButtonTemplate" text="Close">
				<Anchors>
					<Anchor point="BOTTOMRIGHT">
						<Offset><AbsDimension x="0" y="0"/></Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnClick> Buffology_MenuFrameClose() </OnClick>
				</Scripts>
			</Button>
		</Frames>
	</Frame>

</Ui>